@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
    display: flex;
    justify-content: center; 
    height: calc(100vh - 60px);
    padding: 1%;
    box-sizing: border-box;
    flex-wrap: nowrap; /* Evita que los elementos se desordenen */
}
.textos h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
        color: #feac00;
        margin-top: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.textos h2 {
    margin-top: 5px;
    font-size: 1rem;
    text-align: center;
    color: gray;
}
.cuadro {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-width: 50%; /* Tamaño mínimo para evitar que se reduzca demasiado */
}
.imagen {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-bottom: 20px; 
    border: 2px solid #000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.imagen img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.pedido-item {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

/* Estilo para los inputs y botón en cada cuadro */
.pedido-item input[type="text"] {
    margin-top: 5px;
    padding: 5px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pedido-item button {
    margin-left: 1%;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}