.mesa-container {
    border: 5px solid #b03a2e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.mesa-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mesa-numero, .mesero-nombre {
    font-size: 16px;
}

.mesa-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.producto-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 16px;
}

.producto-comentario {
    font-style: italic;
    font-size: 14px;
    color: #555;
    margin-left: 20px;
}